* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: #212529;
}

:root {
    --index: calc(1vh + 1vw);
    --sizehero: 1;
    --scale: 1;
    --radius: 50px;
    --top: -12px;
}

.container {
    margin: 0 calc(var(--index) * 2);
}

.header {
    margin-top: calc(var(--index) * .8);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-menu {
    display: flex;
    list-style: none;
}

.menu-item a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: calc(var(--index) * .62);
    color: #FFFFFF;
    margin-right: calc(var(--index) * 1.3);
    transition: all .5s;
    text-decoration: none;
}

.menu-item a:hover {
    color: #FFB742;
}

.header-logo {
    background-image: url('./img/Frame_7.png');
    width: calc(var(--index) * 3.103448);
    height: calc(var(--index) * 2.27586);
    background-position: center;
    background-size: calc(var(--index) * 3.103448) calc(var(--index) * 2.27586);
}

.hero-greating {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: calc(var(--index) * 1.1034);
    text-transform: capitalize;
    color: #FFFFFF;
}

.hero-greating a {
    color: #FFB742;
}

.hero-desc {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: calc(var(--index) * .8275);
    color: white;
    text-transform: capitalize;
    margin-top: calc(var(--index) * .9);
    margin-bottom: calc(var(--index) * 1.827);
}

.hero-avatar {
    height: calc(var(--index) * 7.55172414);
    width: calc(var(--index) * 7.55172414);
    background-color: #FFB742;
    border-radius: 50%;
    /* overflow: hidden; */
    position: relative;
    scale: var(--sizehero);
    transition: all .2s;
}

.hero-avatar img {
    height: calc(var(--index) * 6.55172414);
    position: absolute;
    top: calc(var(--index) * 1);
    left: calc(var(--index) * .959669);
    scale: var(--scale);
    border-radius: 50%;
    transition: all .2s;
}

.dop-cir {
    height: calc(var(--index) * 8.255172414);
    width: calc(var(--index) * 8.225172414);
    border-radius: 50%;
    scale: calc(var(--sizehero) *1.2);
    position: absolute;
    top: var(--top);
    overflow: hidden;
    transition: all .2s;
    left: calc(var(--index) * -.3);
}

.hero-avatar:hover {
    --scale: 1.2;
    --sizehero: .95;
    --top: calc(-1.1*var(--index));
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: calc(var(--index) * 3.7241379);
}

.meter-card {
    max-width: 900px;
    height: calc(var(--index) * 5.137931);
    background: rgba(56, 62, 69, 0.44);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 calc(var(--index) * 1.72413);
    transition: all 2s;
}

.meter-arrow {
    height: calc(var(--index) * .68965517);
    width: calc(var(--index) * .68965517);
}

.meter-img {
    width: calc(var(--index) * 2.2068965);
    height: calc(var(--index) * 2.2068965);
    margin-right: calc(var(--index) * 1.8);
}

.meter-year {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: calc(var(--index) * .5517);
    line-height: calc(var(--index) * 1.37931);
    text-transform: capitalize;
    color: white;
    transition: all .1s;
    margin-right: calc(var(--index) * 1.8);
}

.meter-year span {
    color: #FFB742;
    font-size: calc(var(--index) * 1.103448);
    transition: all .2s;
}

.meter a {
    text-decoration: none;
}

.meter {
    display: flex;
    justify-content: space-evenly;
}

.meter-sec {
    margin-top: calc(var(--index) * 3.58965517);
}

.meter-card:hover {
    filter: drop-shadow(10px 10px 51px rgba(0, 0, 0, 0.25));
    background: linear-gradient(94.3deg, #FFB742 0%, rgba(255, 123, 66, 0.76) 99.33%);
}

.meter-card:hover .meter-year {
    color: #212529;
}

.meter-card:hover .meter-year span {
    color: #212529;
}

.sub-text {
    width: calc(var(--index) * 5.103448);
    height: calc(var(--index) * 1.44827);
    background: rgba(255, 255, 255, 0.08);
    border-radius: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: calc(var(--index) * .689655);
    text-transform: uppercase;
    color: #FFB742;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-text {
    font-size: calc(var(--index) * 1.65517);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    text-transform: capitalize;
    color: #FFFFFF;
    margin: calc(var(--index) * 1) 0;
}

.sim-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: calc(var(--index) * .551724);
    line-height: calc(var(--index) * 1.0344);
    color: #D5D5D5;
    margin-bottom: calc(var(--index) * 1.89655);
}

.sec3-holder a {
    text-decoration: none;
}

.btn-hire {
    width: calc(var(--index) * 4.1724);
    height: calc(var(--index) * 1.862);
    background-color: #FFB742;
    color: #212529;
    border-radius: calc(var(--index) * 2);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: calc(var(--index) * .62);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
}

.header a {
    text-decoration: none;
}

.btn-hire:hover {
    scale: 1.1;
    box-shadow: 0px 0px 10px 7px #FFB742;
}

.pic-men {
    position: absolute;
    width: calc(var(--index) * 21.3793);
    z-index: 5;
    transform: translateY(calc(var(--scrollTop)/-10));
}

.pic-back {
    margin-top: calc(var(--index) / -0.4);
    width: calc(var(--index) * 20);
    transform: translateY(calc(var(--scrollTop)/15));
    z-index: 1;
}

.sec3-holder {
    margin-top: calc(var(--index) * 9);
    display: flex;
    justify-content: center;
}

.sec3-pics {
    margin-right: calc(var(--index) * 4.827586);
}

.sec3-about {
    max-width: calc(var(--index) * 24);
}


.lang {
    width: calc(var(--index) * 2.75);
    height: calc(var(--index) * 2.75);
    background: #383E45;
    border-radius: calc(var(--index) * .5);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: calc(var(--index) * .2);
}


.lang2 {
    display: flex;
}

.lang:hover {
    background: rgba(255, 183, 66, 0.5);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.lang img {
    width: calc(var(--index) * 1.4);
}


.sec4-holder {
    margin-top: calc(var(--index) * 7);
    display: flex;
    justify-content: space-around;
}

.sec4-skills {
    max-width: 700px;
}

.sec4-skills a {
    text-decoration: none;
}


.top-pic {
    margin-bottom: calc(var(--index) * 1.5);
}


.sec5-menu {
    list-style: none;
    display: flex;
    justify-content: center;
}

.sec5-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: calc(var(--index) * 4);
}

.sec5-pics {
    display: flex;
    justify-content: center;
    margin-top: calc(var(--index) * 1.5);
}

.pics-group {
    width: calc(var(--index) * 13.5);
    margin-right: calc(var(--index) * 1.5);
}

.pics-group img {
    width: calc(var(--index) * 13.5);
}

.sec5-elem {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: calc(var(--index) * .552);
    color: #FFFFFF;
    margin-right: calc(var(--index) * 1.5);
    padding: calc(var(--index) * .345) calc(var(--index) * .6896);
    border-radius: calc(var(--index) * .2);
}

.all {
    background: #FFB742;
    color: #212529;
}

.sec5-elem:hover {
    background: #FFB742;
    color: #212529;
}

.testimonials {
    width: calc(var(--index) * 6);
}

.article-coment {
    width: calc(var(--index) * 13.1);
    background: #FFFFFF;
    border-radius: calc(var(--index) * .3);
    padding: calc(var(--index) * 1.724) calc(var(--index));
}

.article-stars img {
    margin-right: calc(var(--index) * .2);
    height: calc(var(--index) * .5);
}

.article-text {
    margin-top: calc(var(--index) * .69);
    margin-bottom: calc(var(--index) * 1.2);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: calc(var(--index) * .69);
    line-height: calc(var(--index) * 1.1724);
    color: #000000;
}

.avatar-name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: calc(var(--index) * .69);
    line-height: calc(var(--index) * 1.1724);
    color: #000000;
}


.avatar-about {
    margin-left: calc(var(--index) * .85);
}

.avatar-spec {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: calc(var(--index) * .55);
    line-height: calc(var(--index) * 1.1724);
    color: #000000;
}

.article-avatar {
    display: flex;
    align-items: center;
}

.article-avatar img {
    height: calc(var(--index) * 2.7);
}

.coments {
    display: flex;
    margin-top: calc(var(--index) * 2.5);
}

.sec6-holder {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: calc(var(--index) * 5);
    margin-bottom: calc(var(--index) * 8);
}

.article-coment {
    margin-right: calc(var(--index) * 2);
}

.footer {
    padding: calc(var(--index) * 5) 0;
    background-color: #1C1C1C;
}

.footer-holder {
    display: flex;
    justify-content: space-between;
}

.footer-name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: calc(var(--index) * 1.2);
    color: #FFB742;
}

.footer-job {
    font-style: normal;
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: calc(var(--index)  * .65);
    line-height: calc(var(--index) / 1.2);
    color: #D4D4D4;
    margin-top: calc(var(--index));
}

.footer-sub {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size:calc(var(--index) * .8);
    color: #F5FBF2;
    margin-bottom: calc(var(--index) / 2);
}

.footer-articles {
    list-style: none;
}

.footer-articles a {
    text-decoration: none;
    color: #7B7B7B;
}

.ft-link, .footer-text {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: calc(var(--index) * .65);
    line-height: calc(var(--index) * 1.3);
    color: #7B7B7B;
}

.ft-link a:hover {
    color: #FFB742;
}